@model Hospital.Areas.Admin.ViewModels.HomeVM

@{
    Layout = "_AdminLayout";
}
<!--<button asp-controller="Patient" asp-action="PatientCreate"  class="btn btn-success">Dodaj pacjenta</button>-->

<table id="dt" class="table table-borderless table-responsive-md table-striped " cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="th-sm">
                Imię
            </th>
            <th class="th-sm">
                Nazwisko
            </th>
            <th />
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.applicationUsersDTO)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    <a asp-controller="Patient" asp-action="PatientEdit" asp-route-id="@item.userId">Edytuj</a> |
                    <a asp-controller="Patient" asp-action="PatientDetails" asp-route-id="@item.userId">Detale</a> |
                    <a asp-controller="Patient" asp-action="PatientDelete" asp-route-id="@item.userId" onclick="return confirm('Czy chcesz usunąć ten rekord: @item.FirstName @item.LastName?')">Usuń</a>
                </td>
            </tr>
        }
    </tbody>

</table>